/*
Colors used:
Background: #212121;
Text: #efefef;
Links: #cb3ed4
*/
body {
    background-color: #212121;
    font-family: 'Lato', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #efefef;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }
  a {
    color: #cb3ed4;
    text-decoration: none; /* No underlining */
    font-weight: 700;
  }
  a:hover {
    color: #d581da;
    text-decoration: underline; /* Underlining when hovering over a link */
    font-weight: 700;
  }
  a:visited { /* visited link */
    color: #827bb9;
  }
  a:active { /* selected link */
    color: #8172f7;
  }
  a.button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #cb3ed4;
    color: #efefef; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 12px;
    border-bottom: 2px solid #cb3ed4; /* width of the border, type, color */
    transition: 0.2s opacity;
  }
  a.button:hover {
    opacity: 0.6; /* Reduces the opacity of the button to 60% */
    text-decoration: none;
  }